<!-- Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container footer">


  <div class="row book">
    <div class="three columns offset-by-two">

  <a href="https://amzn.to/3AxLdln">

    <img src="/assets/images/covers/white-cover.jpg">

  </a>

    </div>
    <div class="three columns ">
    <a class="button button-primary buy" href="https://amzn.to/3AxLdln" style="margin-top: 60px;">Buy on Amazon</a>
    </div>
  </div>

</div>

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
