<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ page.title }} - The Informed Company</title>
  <meta name="description" content="A site around enabling companies and knowledge workers to be informed and enabled with the data they need for their work.">
  <meta name="author" content="Dave Fowler">

  <meta property="og:image" content="/assets/images/theinformedcompany.png" />

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/assets/Skeleton-2.0.4/css/normalize.css">
  <link rel="stylesheet" href="/assets/Skeleton-2.0.4/css/skeleton.css">
  <link rel="stylesheet" href="/assets/syntax.css">
  <link rel="stylesheet" href="/assets/theinformedcompany.css">
  <!-- <link rel="icon" type="image/png" href="assets/images/favicon.png"> -->
</head>

<body class="{{#if hero}}hero{{/if}}">
  <div class="container ">
    <div class="row nav">
      <div class="four columns offset-by-two header" >
        <h5><a href="/" class="logo">The Informed Company</a>  </h5>
      </div>
        <div class="five columns u-pull-right nav-cat">
            <h5 class="nav-cat">
              <a href="https://amzn.to/3AxLdln">Buy</a>
              <a href="/#about">About</a>
              <a href="/#authors">Authors</a>
              <a href="/#blog">Blog</a>
            </h5>
        </div>
      <div class="two columns">&nbsp;</div>
    </div>
  </div>
  <!-- Primary Page Layout –––––––––––––––––––––––––––––––––––––––––––––––––– -->
