{{> header }}
<div class="container">
  <div class="row">
    <div class="ten columns offset-by-two">
      <article>
        <section>
          <h1>{{{ page.title }}}</h1>
        </section>
        <section>
          {{{ contents }}}

          <br><br>
          <a name="blog"></a>
          <h2>Blog</h2>

          {{#each collections.posts }}
          <div class="row smallthing">
              <a href="/{{ this.path }}/"><h5>{{ this.title }}</h5></a>
          </div>
          {{/each }}

        </section>
      </article>
    </div>
  </div>
</div>
{{>footer}}
