{{> header }}
<div class="container">
  <div class="row">
    <div class="eight columns offset-by-two" style="margin-top: 30px">
      <article>
        <section>
          <h1>{{{ title }}}<br>
            <small>By {{{ author }}} on {{{ date }}}</small>
          </h1>

        </section>
        <section>
          {{{ contents }}}
        </section>

      </article>
    </div>
  </div>
</div>

<script
  src="https://app-frame.annote.com/static/js/main.js"
  default-group-key="the-informed-company"
  selector="article"
  auto-load="true">
</script>

{{>footer}}
