{{> header }}
<div class="container">
  <div class="row">
    <div class="ten columns offset-by-two" style="margin-top: 30px">
      <article>
        <section>
          <h1>{{{ title }}}</h1>
        </section>
        <section>
          {{{ contents }}}
        </section>

      </article>
    </div>
  </div>
</div>
{{>footer}}
