body a {
  color: #00A6B3;

}

body a:hover {
  color: #5D6EA8; }

small {
  font-size: 24px;
}

figure {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


blockquote {
  position: relative;
  font-style: italic;
}

blockquote:before {
    content: '\201C';
    position: absolute;
    top: -.5em;
    left: -0.5em;
    color: #77F;
    font-size: 6em;
    z-index: -1;
 }

 .container {
   max-width: 960px;
 }

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
}


.nav {
  margin-top: 20px;
}

.nav a {
  text-decoration: none;
}

.profile a {
  text-decoration: none;
}

.row a.buy {
  background-color: #FF9900;
  border-color: #FF9900;
  color: #000;
}

div.container.cream {
  background-color: #FFF3E7;
}

.row a.buy:hover {
  background-color: #FF9900;
  border-color: #FF9900;
  color: #000;
  opacity: .8;
}


img {
  max-width: 100%;
}

.nav-cat a {
  margin-left: 30px;
  color: #00A6B3;
}

.header a.selected {
  opacity: 1
}



h1 small {
  font-size: 16px;
}

.hero {
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto, contain;
  /* background-image: url("/assets/images/hero.png"); */
}

.logo, header h5 a.logo {
  font-weight: 500;
  color: black;
  font-family: 'Helvetica Neue';
}

header a:hover {
  color: inherit;
  text-decoration: underline;
}

.header h5 {
  font-size: 20px;
  font-weight: 600;
}

.header h5 a {
  text-decoration: none;
}

.header h5 a:hover {
  opacity: .8;
}

.header .i-about {
  color: inherit;
}

h1 {
  margin-top: 2em;
}

html body, html article {
  font-family: Lato, serif, Georgia;
  font-size: 18px;
}

.header h5 a[href="/{{ category }}/"] {
  text-decoration: underline;
  color: #222;
  font-size: 1em;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 3.0rem; }
  h2 { font-size: 2.6rem; }
  h3 { font-size: 2.2rem; }
  h4 { font-size: 2.0rem; }
  h5 { font-size: 1.6rem; }
  h6 { font-size: 1.2rem; }
}
